body {
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: white;
  margin: 0;
  background-image: url(https://cdn.wallpapersafari.com/88/84/0FnYUX.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main {
  margin: 30px 20px;
  padding: 20px;
  background: rgba(12,13,32,0.7);
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
h1 {
  font-size: 50px;
  font-family: "Century Gothic", sans-serif;
  color: #ec0ec9;
  margin: 0 auto 0 auto;
}

h2 {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0 auto 10px auto;
}

h3, h4, h5 {
  margin-bottom: 0;
  color: #f7af37;
}

h3 { font-size: 30px;}
h4 { font-size: 24px;}
h5 { font-size: 22px;}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: justify;
  line-height: 1.5;
}

p {
  max-width: 600px;
  margin: 0 auto 0 auto;
  text-align: justify;
  line-height: 1.5;
}

li {
  margin: 16px 0;
}

a {
  color: #c3c102;
}

a:visited {
  color: #f7af37;
}

strong {
  color: #00d2c1;
}

img {
  border-radius: 5px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: #0c0d20;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
  color: #00d2c1;
}

@media (max-width: 400px) {
  #img-caption {
    font-size: 14px;
    font-weight: lighter;
  }
}

.column {
  float: left;
  width: 200px;
  padding: 10px;
}
.container {
  position: relative;
  width: 100%;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}